<mat-card>
	<mat-card-title>Configuration</mat-card-title>
	<mat-card-content>

		<span *ngIf="config">
      <h3>All parameters of Config</h3>
      <mat-list>
        <mat-list-item><label>Redmine URL:</label> {{ config.redmineUrl }}</mat-list-item>
        <mat-list-item>Redmine URL (from redmineURL_): {{ redmineURL_ }}</mat-list-item>
      </mat-list>
    </span>

	</mat-card-content>
  <mat-card-actions><a mat-stroked-button (click)="putTestUrl();">Reload config from {{ configURL }}</a></mat-card-actions>
</mat-card>